@page "/Player/upsert/"
@page "/Player/upsert/{id:int}"
<h3>Rediger spiller</h3>
@rendermode @(new InteractiveAutoRenderMode(false))

<EditForm OnValidSubmit="Submit" FormName="PlayerUpsert" Model="Model">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6">
                <label>Navn</label>
                <InputText class="form-control" @bind-Value="Model.PlayerName" />
                <ValidationMessage For="() => Model.PlayerName" />
            </div>
         <div class="col-md-6">
                <label>Hcp</label>
                <InputNumber class="form-control" @bind-Value="Model.HcpIndex" />
                <ValidationMessage For="() => Model.HcpIndex" />
            </div>
        </div>

@*         <div class="row mb-3">
            <div class="col-md-6">
                <label> Price</label>
                <InputNumber class="form-control" @bind-Value="Model.Price" />
                <ValidationMessage For="() => Model.Price" />
            </div>
            <div class="col-md-6">
                <label> Description</label>
                <InputText class="form-control" @bind-Value="Model.TournamentName" />
                <ValidationMessage For="() => Model.Description" />
            </div>
        </div> *@
        <button class="btn btn-secondary" type="submit">Save</button>
    </div>
</EditForm>