@inherits LayoutComponentBase
@* <RadzenComponents @rendermode="InteractiveAuto" />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
            <BSCore/>
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@
<div class="page">
    <NavMenu />
    <main class="pt-5">
        <BSContainer class="content pb-5">
            <RadzenCard>
                @Body
            </RadzenCard>
        </BSContainer>
    </main>
    <footer class="text-center text-lg-start bg-light text-muted footer">
        <div class="text-center">
            <span>&copy; PaulS 2024</span>
        </div>
    </footer>
</div>
<RadzenNotification />
<RadzenDialog />


@code {
    [CascadingParameter]
    int tournamentId { get; set; }
}
