@page "/counter"
@using Newtonsoft.Json
@* @rendermode InteractiveAuto *@
@rendermode @(new InteractiveWebAssemblyRenderMode(false))

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @activeId</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Inject] public HttpClient http { get; set; }
    [Inject] public IToastService ToastService { get; set; }
    [Inject] public DialogService DialogService { get; set; } = default!;

    public int activeId;
    public List<TournamentModel> tournaments { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadData();
        activeId = tournaments.Where(x => x.Active == true).Select(x => x.TournamentId).SingleOrDefault();
        StateHasChanged();
    }

    protected async Task LoadData()
    {
        var res = await http.GetFromJsonAsync<BaseResponseModel>("/api/Tournament");
        if (res != null && res.Success)
        {
            tournaments = JsonConvert.DeserializeObject<List<TournamentModel>>(res.Data.ToString());
        }
    }
}
