@page "/player"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Alicante.Client.BaseComponents
@rendermode @(new InteractiveAutoRenderMode(false))

<h3>Spiller liste</h3>

@if (players == null)
{
    <p>Henter ...</p>
}
else
{
    <a class="btn btn-primary" href="/player/upsert">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Hcp index</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in players)
            {
                <tr>
                    <td>@p.PlayerName</td>
                    <td>@p.HcpIndex</td>

                    <td>
                        <a class="btn btn-secondary" href="/player/upsert/@p.PlayerId">Rediger</a>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <button class="btn btn-danger" @onclick="()=> { DeleteID = p.PlayerId; Modal.Open();}">Slet</button>
                            </Authorized>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <AppModal @ref="Modal">
        <Title>Obs</Title>
        <Body>
            Vil du slette spilleren?
        </Body>
        <Footer>
            <button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Cancel</button>
        </Footer>
    </AppModal> 
}